<?xml version="1.0"?>

<model>
  <name>Table PRL</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Vicent Girbes Juan</name>
    <email>vgirbes@idf.upv.es</email>
  </author>

  <description>
    A wooden table in the Personal Robotics Laboratory at Imperial College London.
  </description>
</model>
